* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* 'MAIN' WINDOW */
.container-main {
  align-items: center;
  background-color: rgb(93, 109, 126);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 2rem;
  width: 100vw;
}

#form {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 30rem;
}

.form-input input {
  border-radius: 0.5rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.form-input input:focus {
  outline: none;
}

.select-image-area {
  margin-bottom: 5rem;
}

.image-select {
  background-color: white;
  border-radius: 3rem;
  font-size: 2rem;
  padding: 0.5rem;
}

.image-select:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button-image-resize {
  background-color: white;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 2rem;
  margin-bottom: 5rem;
  padding: 0.5rem;
  width: 30rem;
}

.button-image-resize:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.button-image-resize:active {
  background-color: greenyellow;
}

.info {
  align-self: flex-start;
  font-size: 1.4rem;
  margin-top: 1rem;
}


/* 'ABOUT' WINDOW */
.container-about {
  align-items: center;
  background-color: rgb(93, 109, 126);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
}

.name-about {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.info-about {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.copyright-about {
  margin-top: 2rem;
}