* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  overflow: hidden;
}


/* 'MAIN' WINDOW */
.container-main {
  align-items: center;
  background-color: rgb(93, 109, 126);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 2rem;
  width: 100vw;
}

.select-image-area {
  margin-bottom: 3rem;
}

.select-image {
  border-radius: 1rem;
  font-size: 5rem;
}

.select-image:hover {
  cursor: pointer;
}

#form {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 30rem;
}

.form-input input {
  border-radius: 0.5rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.form-input input:focus {
  outline: none;
}

.button-image-resize {
  background-color: white;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 2rem;
  margin-bottom: 3rem;
  padding: 0.5rem;
  width: 30rem;
}

.button-image-resize:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.button-image-resize:active {
  background-color: greenyellow;
}

.image-info {
  margin-bottom: 3rem;
}

.image-info p {
  font-size: 1.4rem;
  margin-top: 1rem;
}


/* 'ABOUT' WINDOW */
.container-about {
  align-items: center;
  background-color: rgb(93, 109, 126);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
}

.name-about {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.info-about {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.copyright-about {
  margin-top: 2rem;
}


/* 'APP UPDATE' DIALOG WINDOW */
#update-notification {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  font-size: 1.4rem;
  padding: 0.5rem;
  position: fixed;
  right: 0.5rem;
  text-align: center;
  top: 0.5rem;
  width: 15rem;
}

#update-notification-message {
  margin: 0rem 1.5rem 0.5rem;
}

.update-notification-buttons-close {
  align-self: flex-end;
}

.update-notification-buttons-close button {
  background-color: white;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  padding: 0rem 0.2rem;
}

.update-notification-buttons-close button:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  color: rgb(231, 36, 36);
  cursor: pointer;
}

#yes-button {
  background-color: white;
  border: none;
  font-size: 1.6rem;
  padding: 0rem 0.2rem;
  margin: 0rem 0.5rem;
}

#yes-button:hover {
  color: rgb(136, 226, 0);
  cursor: pointer;
  font-weight: bold;
}

#no-button {
  background-color: white;
  border: none;
  font-size: 1.6rem;
  padding: 0rem 0.2rem;
  margin: 0rem 0.5rem;
}

#no-button:hover {
  color: red;
  cursor: pointer;
  font-weight: bold;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
}